.cell{
    display: flex;
    flex-direction: column;
    width: 19.6vw;
    height: 18vw;
    justify-content: center;
    position: relative;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0px 5px 2px 0px #000;
    overflow: hidden;
    perspective: 1000px;
    transform: rotate3d(0, 0, 0, -180deg);
    @media screen and (min-width:768px) {
        width: 150px;
        height: 140px;
    }
    @include cell-bg;
    .line-container{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: calc(50% - 5px);
        height: 10px;
        width: 100%;
        justify-content: center;
        hr{
            position: relative;
            width: 100%;
            z-index: 2;
            border: 1px solid rgba(0, 0, 0, 0.281);
        }
        &::before,&::after{
            position: absolute;
            bottom: 0px;
            left: -5px;
            height: 10px;
            width: 10px;
            background: black;
            content: "";
            border-radius: 5px;
        }
        &::after{
            right: -5px;
            left: auto;
        }
    }
    
    .numberContainer{
        display: flex;
        justify-content: center;
        
    }
    p{
        z-index: 1;
        font-size: 9vw;
        color: $secondary;
        width: 6vw;
        @media screen and (min-width:768px) {
            font-size: 70px;
            width: 45px;
        } 
               
    }

    .top, .bottom{
        backface-visibility: hidden;
    }
    
    .top::before,
    .top::after{
        content: "";
        width: 100%;
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;
        animation: flipTop 1s ease-in-out infinite;
        box-shadow: inset 0px 1px 2px 0px #000;
        border-radius: 5px;
    }

    
    .bottom::after{
        content: "";
        width: 100%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 0;
        animation: flipBottom 1s 800ms ease-in-out infinite;
        border-radius: 5px;
        box-shadow:  0px 2px 2px 0px #000;
    }
    
   
}
