#socialLinks{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    z-index: 0;
    fill: #8385a9;
    svg{
        margin: 0 1rem;
        &:hover{
            cursor: pointer;
            fill: $secondary;
        }
    }
    @media screen and (min-width: 768px) {
        margin-bottom: 4rem;
    }
}